<div class="row page-header">
	<h3>Search SAF Personnel</h3>
</div>
<div class="row page-body">
	<div class="panel panel-default">
		<div class="panel-body">
			<div style="width: 130px; position: absolute; right: 20px; z-index: 998">
				<button type="button" class="btn btn-block btn-primary" ng-click="search()" ng-disabled="loading">Search</button>
			</div>
			<div style="padding-right: 160px">
				<form class="form-horizontal">
					<div class="form-group">
						<label class="col-sm-2 control-label">Personnel</label>
						<div class="col-sm-4">
							<typeahead placeholder="NRIC No. or Name" uib-typeahead="nricName.name + ' (' + nricName.code + ')' for nricName in searchNricNames($viewValue)"
								typeahead-on-select="searchDTO.nricNo = $item.code" ng-blur="searchDTO.nricNo = personnel ? searchDTO.nricNo : undefined" ng-model="personnel" />
						</div>
						<label class="col-xs-2 control-label">Unit</label>
						<div class="col-sm-4">
							<typeahead placeholder="Unit Code or Name" uib-typeahead="unit.name + ' (' + unit.code + ')' for unit in searchUnits($viewValue)"
								typeahead-on-select="searchDTO.unitCode = $item.code" ng-blur="searchDTO.unitCode = unit ? searchDTO.unitCode : undefined" ng-model="unit" />
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<table st-table="records" st-pipe="paginate" class="table table-striped table-bordered table-responsive table-condensed small">
		<tr>
			<th no-sort>#</th>
			<th sort property="nricNo">NRIC No.</th>
			<th sort property="name">Name</th>
			<th sort property="unit.name">Unit</th>
			<th sort property="unitType">Unit Date</th>
			<th sort property="appointment">Appointment</th>
			<th sort property="appointmentDate">Appointment Date</th>
			<th sort property="vocation.code">Vocation</th>
			<th sort property="vocationDate">Vocation Date</th>
		</tr>
		<tr ng-repeat="record in records">
			<td>{{$index + searchDTO.startIndex + 1}}</td>
			<td><a href="#/personnel/{{record.nricNo}}">{{record.nricNo}}</a></td>
			<td>{{record.name}}</td>
			<td>{{record.unit}}</td>
			<td>{{record.unitDate}}</td>
			<td>{{record.appointment}}</td>
			<td>{{record.appointmentDate}}</td>
			<td>{{record.vocation}}</td>
			<td>{{record.vocationDate}}</td>
		</tr>
		<tfoot>
			<tr>
				<td colspan="12" ng-if="records && records.length > 0">
					<div style="display:inline" st-template="pagination.html" st-pagination="" st-items-by-page="searchDTO.pageSize" st-displayed-pages="paginationSize"></div>
					<ul class="pagination">
						<li>
							<a href="" style="color:black" ng-click="download()"><span class="glyphicon glyphicon-save"></span>&nbsp;&nbsp;Download to Excel</a>
						</li>
					</ul>
				</td>
			</tr>
		</tfoot>
	</table>
</div>
