<div class="row page-header">
	<h3>
		New Vehicle Type Specification
	</h3>
</div>
<div class="row page-body">
	<div class="panel-main-res">
		<ul class="nav nav-tabs">
			<li class="active"><a href="" data-target="#profile" ng-click="tab='profileTab'" data-toggle="tab">Specification</a></li>
			<li><a href="" data-target="#maintenance" ng-click="tab='profileTab'" data-toggle="tab">Maintenance</a></li>
		</ul>
		<div class="tab-content">
			<div class="panel-action-res">
				<div class="panel panel-default">
					<div class="panel-body">
						<div style="text-align:center">
							<a target="_blank" href="images/vehicles/{{dto.imagePath ? dto.imagePath : 'vehicle.gif'}}">
								<img src="images/vehicles/{{dto.imagePath ? dto.imagePath : 'vehicle.gif'}}" style="height:120px" />
							</a>
                            <hr>
						</div>
	
							<button class="btn btn-default btn-block" ng-click="confirmDialog('Are you sure you want to update this Vehicle Type?', update)">Save</button>
							<button class="btn btn-default btn-block" type="file" ngf-select="uploadFile($file, $invalidFiles)" accept="image/*" ngf-max-height="1000" ngf-max-size="1MB">Upload Image...</button>
				
					</div>
				</div>
			</div>
			<div class="tab-pane fade in active" id="profile">
				<form class="form-horizontal">
                    <fieldset>
						<div class="form-group">
							<label class="col-sm-2 control-label">Vehicle Type</label>
							<div class="col-sm-4">
								<input type="text" class="form-control" ng-model="dto.name">
							</div>
                            <label class="col-sm-2 control-label">Vehicle Permit Class</label>
                            <div class="col-sm-4">
								<select class="form-control" ng-options="permitClass.code as permitClass.name for permitClass in permitClasses" ng-model="dto.permitClassCode">
	                                <option />
	                            </select> 
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label required">Front Capacity</label>
							<div class="col-sm-4"  >
								<input intbox class="form-control" ng-model="dto.frontCapacity">
							</div>
							
                            <label class="col-sm-2 control-label required">Rear Capacity</label>
                            <div class="col-sm-4" >
								<input intbox class="form-control" ng-model="dto.rearCapacity">
							</div>
							
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label required">Military Load Class</label>
							<div class="col-sm-4">
								<input type="text" class="form-control" ng-model="dto.militaryLoadClass">
							</div>
							
							<label class="col-sm-2 control-label required">Speed Limit (KM/H)</label>
							<div class="col-sm-4">
								<input intbox class="form-control" ng-model="dto.speedLimit">
							</div>
							
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label required">Obsolete</label>
							<div class="col-sm-4" >
								<yes-no-only class="form-control" ng-model="dto.obsolete" />
							</div>
							
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label">Vehicle Purposes</label>
							<div class="col-sm-10">
								<select tagbox class="form-control" multiple="true" ng-options="purpose.id as purpose.name for purpose in purposes" ng-model="dto.purposeIds">
	                               <option />
	                            </select>
	                           
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label">ES Equipments Mapped <span class="glyphicon glyphicon-info-sign" uib-tooltip="Updating this mapping will only affect upcoming New Vehicles. Node Controller (Vehicle) will need to manually update the existing vehicles' Vehicle Type."/></label>
							<div class="col-sm-10">
								<select tagbox class="form-control" multiple="true" ng-options="esEquipment.id as esEquipment.name for esEquipment in esEquipments" ng-model="dto.esEquipmentIds">
	                               <option />
	                            </select>
	                           
							</div>
						</div>
					</fieldset>
				</form>
			</div>
			<div class="tab-pane fade" id="maintenance">
				<form class="form-horizontal">
                    <fieldset>
						<div class="form-group">
							<label class="col-sm-3 control-label required">Est. Normal PM Duration (Days) <span class="glyphicon glyphicon-info-sign" uib-tooltip="Estimated no. of days from the schedule date the system should block for Minor PM (i.e. 10K UQM)."/></label>
							<div class="col-sm-3" >
								<input intbox class="form-control" ng-model="dto.pmNormalDuration">
							</div>
						
							<label class="col-sm-3 control-label required">Est. Major PM Duration (Days) <span class="glyphicon glyphicon-info-sign" uib-tooltip="Estimated no. of days from the schedule date the system should block for Major PM (i.e. 20K UQM)."/></label>
							<div class="col-sm-3" >
								<input intbox class="form-control" ng-model="dto.pmMajorDuration">
							</div>
					
						</div>
						<div class="form-group">
							<label class="col-sm-3 control-label required">Maintenance Cycle</label>
							<div class="col-sm-3" >
								<select class="form-control" ng-options="maintenanceCycle.id as maintenanceCycle.name for maintenanceCycle in maintenanceCycles" ng-model="dto.maintenanceCycleId" ng-change="reloadMaintenanceCycle()" />
							</div>
							
							<label class="col-sm-3 control-label">Maintained By</label>
							<div class="col-sm-3 control-value">{{dto.maintenanceCycle.extVendorFlag === 'Y' ? 'Vendor' : 'MES'}}</div>
						</div>
						<div class="form-group">
							<label class="col-sm-3 control-label">Months Interval</label>
							<div class="col-sm-3 control-value">{{dto.maintenanceCycle.monthsInterval}}</div>
							<label class="col-sm-3 control-label">Mileage Interval (KM)</label>
							<div class="col-sm-3 control-value">{{dto.maintenanceCycle.mileageInterval}}</div>
						</div>
						<br>
						<table st-table="maintenances" st-safe-src="dto.maintenanceCycle.maintenances" class="table table-striped table-bordered table-responsive table-condensed small">
							<tr>
								<th st-sort="sequence">Sequence</th>
								<th st-sort="name">Maintenance</th>
								<th st-sort="sequence">Month</th>
								<th st-sort="sequence">Mileage (KM)</th>
								<th st-sort="majorFlag">Is Major PM</th>
							</tr>
							<tr ng-repeat="maintenance in maintenances">
								<td>{{maintenance.sequence}}</td>
								<td>{{maintenance.name}}</td>
								<td>{{maintenance.sequence * dto.maintenanceCycle.monthsInterval}}</td>
								<td>{{maintenance.sequence * dto.maintenanceCycle.mileageInterval}}</td>
								<td>{{maintenance.majorFlag === 'Y' ? 'Yes' : 'No'}}</td>
							</tr>
						</table>
                    </fieldset>
               	</form>
            </div>
		</div>
	</div>
</div>
