<div class="row page-header">
	<h3>Vehicle T-Loan Approval</h3>
</div>
<div class="row page-body">
	<decide-button yes="Approve" no="Reject" to-all="true" ng-model="allDecision" decision-count="count" ng-click="decideAll(allDecision)" />
	<button type="button" class="btn btn-primary navbar-btn" ng-disabled="count < 1" ng-click="confirmDialog('Are you sure you want to approve and/or reject the Vehicle Loans?', confirm)">
		Confirm Decision <span ng-show="count > 0"> for {{count}} Vehicles</span>
	</button>
	<table st-table="records" st-pipe="paginate" class="table table-striped table-bordered table-responsive table-condensed small">
		<tr>
			<th no-sort>#</th>
			<th sort property="vehicle.vehicleNo">Vehicle</th>
			<th sort property="parentNode.name">Parent Node</th>
			<th sort property="node.name">Attached Node</th>
			<th sort property="status">Type</th>
			<th sort property="startDate">Period</th>
			<th sort property="remarks">Remarks</th>
		</tr>
		<tr ng-repeat-start="record in records">
			<td rowspan="2">{{$index + searchDTO.startIndex + 1}}</td>
			<td>
				<a href="#/vehicle/{{record.vehicleNo}}">{{record.vehicleNo}}</a><br>
				<strong><big>{{record.vehicleType}}</big></strong><br>
				<em>Endorsed on {{record.submitDate}} by {{record.submittedBy}}</em>
			</td>
			<td>{{record.parentNode}}</td>
			<td>{{record.loaningNode}}</td>
			<td>{{record.type}}</td>
			<td>
				<div>{{record.startDate}} to</div>
				<div>{{record.endDate}} </div>
			</td>
			<td>{{record.remarks}}</td>
		</tr>
		<tr ng-repeat-end>
			<td>
				<decide-button yes="Approve" no="Reject" ng-model="decisions[record.id].decision" decision-count="$parent.count" />
			</td>
			<td colspan="7">
				<input type="text" class="form-control" ng-if="decisions[record.id].decision==='NO'" ng-model="decisions[record.id].decisionReason" placeholder="Reasons for rejection"/>
			</td>
		</tr>
		<tfoot>
			<tr>
				<td colspan="7">
					<div st-template="pagination.html" st-pagination="" st-items-by-page="searchDTO.pageSize" ></div>
				</td>
			</tr>
		</tfoot>
	</table>
</div>
