<div class="row page-header">
	<h3>Search Templates</h3>
</div>
<div class="row page-body">
	<div class="panel panel-default">
		<div class="panel-body">
			<div style="position:absolute;width:130px;right:20px;z-index:998">
				<button type="button" class="btn btn-block btn-primary" ng-click="search()" ng-disabled="loading">Search</button>
				<button type="button" class="btn btn-block btn-default" ng-click="reset()">Clear</button>
				<br />
                <a href="" ng-click="advSearchCollapsed = !advSearchCollapsed" class="pull-right">Advanced Search...</a>
			</div>
			<div class="col-xs-12" style="padding-right:150px">
				<form class="form-horizontal">
					<div class="form-group">
                        <label class="col-sm-2 control-label">Template Name</label>
						<div class="col-sm-4">
							<input type="text" class="form-control" ng-model="searchDTO.templateName"/>
						</div>
                        <label class="col-sm-2 control-label">Template Type</label>
                        <div class="col-sm-4">
							<select class="form-control" ng-model="searchDTO.templateType" data-ng-init="searchDTO.templateType = 'Global'">
								<option>Global</option>
								<option>Role-Based</option>
							</select>
						</div>
					</div>
					<div class="form-group">
							<label class="col-sm-2 control-label">Role</label>
							<div class="col-sm-4">
								<select class="form-control" ng-model="searchDTO.roleId" required ng-options="role.id as role.name for role in roles">
									<option></option>
								</select>
							</div>
							<label class="col-sm-2 control-label"></label>
	                        <div class="col-sm-4">
							</div>
					</div>
					<div class="form-group" style="padding-right:0px" uib-collapse="advSearchCollapsed">
                        <hr>
						<div class="form-group valueColumn date">
							<label class="col-sm-2 control-label">Create Date</label>
							<div class="col-sm-4">
								<div class="input-group valueColumn date">
									<input datebox class="form-control" id="createdOn" ng-model="searchDTO.createdOn"/>
									<label class="input-group-addon">
										<span class="glyphicon glyphicon-calendar"></span>
									</label>
								</div>	
							</div>
							<label class="col-sm-2 control-label">Created By</label>
	                        <div class="col-sm-4">
								<input type="text" class="form-control" ng-model="searchDTO.createdBy">
							</div>
						</div>
					</div>	
				</form>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<table st-table="records" st-pipe="paginate" class="table table-striped table-bordered table-responsive table-condensed small">
		<tr>
			<th class="text-center" ng-if="session.rights['showGlobalTemplateOpt'] && searchDTO.templateType === 'Global'"><input type="checkbox" ng-model="checkboxes.all" ng-click="checkAll()"></th>
			<th class="text-center" ng-if="!session.rights['showGlobalTemplateOpt'] && searchDTO.templateType === 'Global'"></th>
			<th class="text-center" ng-if="searchDTO.templateType === 'Role-Based'"><input type="checkbox" ng-model="checkboxes.all" ng-click="checkAll()"></th>
			<th sort property="indentTemplate.templateName">Template Name</th>
			<th sort property="indentTemplate.templateType">Template Type</th>
			<th sort property="role.name">Role</th>
			<th sort property="indentTemplate.createdBy">Created By</th>
			<th sort property="indentTemplate.createDate">Create Date</th>
		</tr>
		<tr ng-repeat="record in records"  ng-if="session.rights['showGlobalTemplateOpt']">
			<td class="text-center"><input type="checkbox" ng-model="checkboxes.records[record.id]" ng-click="checkboxes.all = false"></td>
			<td><a href="#/indent/{{record.indentNo}}">{{record.templateName}}</a></td>
			<td>{{record.templateType}}</td>
			<td>{{record.role}}</td>
			<td>{{record.createdBy}}</td>
			<td>{{record.createdOn}}</td>
		</tr>
		<tr ng-repeat="record in records" ng-if="!session.rights['showGlobalTemplateOpt'] && record.templateType === 'Global'">
			<td class="text-center"></td>
			<td><a href="#/indent/{{record.indentNo}}">{{record.templateName}}</a></td>
			<td>{{record.templateType}}</td>
			<td>{{record.role}}</td>
			<td>{{record.createdBy}}</td>
			<td>{{record.createdOn}}</td>
		</tr>
		<tr ng-repeat="record in records" ng-if="!session.rights['showGlobalTemplateOpt'] && record.templateType === 'Role-Based'">
			<td class="text-center"><input type="checkbox" ng-model="checkboxes.records[record.id]" ng-click="checkboxes.all = false"></td>
			<td><a href="#/indent/{{record.indentNo}}">{{record.templateName}}</a></td>
			<td>{{record.templateType}}</td>
			<td>{{record.role}}</td>
			<td>{{record.createdBy}}</td>
			<td>{{record.createdOn}}</td>
		</tr>
		<tfoot>
			<tr>
				<td colspan="12">
					<div st-template="pagination.html" st-pagination="" st-items-by-page="searchDTO.pageSize"></div>
				</td>
			</tr>
		</tfoot>
	</table>
</div>

<div>
	<button type="button" style="width:150px;" class="btn btn-default navbar-btn btn-xs" data-toggle="modal" ng-click="showDeleteMsg()">
		 <div class="glyphicon glyphicon-minus"></div> Delete Templates   	  
	</button>
</div>
	

<div class="modal fade" id="deleteTemplateModal" tabindex="-1">
	<div class="modal-dialog" style="width:400px">
		<div class="modal-content">
			<div class="modal-header">
				<button class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title">Confirm</h4>
			</div>
			<div class="modal-body">
				<div class="container-fluid">
					<form class="form-horizontal">
						<div class="form-group">
							<p>Are you sure you want to delete the selected template(s)?</p>
						</div>
					</form>
				</div>
	        </div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
				<button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="deleteTemplate()">Delete</button>
			</div>
		</div>
	</div>
</div>