<div class="row page-header">
	<h3>
		<span class="glyphicon glyphicon-chevron-left clickable" ng-click="back()" /> CDL Conversion
	</h3>
</div>
<div class="row page-body">
	<div class="panel-main-res">
		<ul class="nav nav-tabs">
			<li class="active"><a href="" data-target="#applicaton" ng-click="cdlcTab='A'" data-toggle="tab">Application</a></li>
			<li><a href="" data-target="#profile" ng-click="cdlcTab='P'" data-toggle="tab">Profile</a></li>
			<li><a href="" data-target="#skills" ng-click="cdlcTab='P'" data-toggle="tab">Skills</a></li>
			<li><a href="" data-target="#mileage" ng-click="cdlcTab='M'" data-toggle="tab">Mileage</a></li>
			<li><a href="" data-target="#demerit" ng-click="cdlcTab='D'" data-toggle="tab">Demerit Points</a></li>
			<li><a href="" data-toggle="tab">Audit Log</a></li>
		</ul>
		<div class="tab-content">
			<div class="panel-action-res">
				<div class="panel panel-default">
					<div class="panel-body">
						<div style="text-align: center">
							<img src="images/personnels/personnel.gif" style="height: 120px; padding-bottom: 5px" /> <br> <strong><big>S8806477A</big></strong> <br>
							<p>CPL MUHAMMAD NOOR RIZAN BIN ISMAIL</p>
							<hr>
						</div>
						<button ng-show="cdlcTab == 'A' && cdlcApproved != 'Y'" class="btn btn-default btn-block">Save</button>
						<button ng-show="cdlcTab == 'A' && cdlcApproved != 'Y' && cdlcStatus == 'NEW'" data-toggle="modal" data-target="#submitCdlc" class="btn btn-primary btn-block">Submit
							Application</button>
						<button ng-show="cdlcTab == 'A' && cdlcApproved != 'Y' && cdlcStatus == 'NEW'" data-toggle="modal" data-target="#holdCdlc" class="btn btn-default btn-block">Hold
							Application</button>
						<button ng-show="cdlcTab == 'A' && cdlcHold == 'Y'" class="btn btn-primary btn-block">Unhold Application</button>
						<button ng-show="cdlcTab == 'A' && cdlcApproved != 'Y' && cdlcStatus == 'NEW'" data-toggle="modal" data-target="#rejectCdlc" class="btn btn-default btn-block">Reject
							Application</button>
						<button ng-show="cdlcTab == 'A' && cdlcApproved != 'Y'" data-toggle="modal" data-target="#deleteCdlc" class="btn btn-danger btn-block">Delete
							Application</button>
					</div>
				</div>
			</div>
			<div class="tab-pane fade in active" id="applicaton">
				<form class="form-horizontal">
					<fieldset>
						<legend>Application Details</legend>
						<div class="form-group">
							<label class="col-sm-2 control-label">Application No.</label>
							<div class="col-sm-4 control-value">10001</div>
							<label class="col-sm-2 control-label">Application Status</label>
							<div ng-if="cdlcApproved == 'N'" class="control-value">NEW</div>
							<div ng-if="cdlcApproved == 'Y' && cdlcHold != 'Y'" class="control-value">SUBMITTED</div>
							<div ng-if="cdlcApproved == 'Y' && cdlcHold == 'Y'" class="control-value">PENDING</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label">CDL Class</label>
							<div ng-if="cdlcApproved == 'N'" class="col-sm-4">
								<select class="form-control" ng-model="cdlClass">
									<option></option>
									<option ng-repeat="cdlClass in cdlClasses">{{cdlClass.name}}</option>
								</select>
							</div>
							<div ng-if="cdlcApproved == 'Y'" class="col-sm-4 control-value">CL3</div>
							<label class="col-sm-2 control-label">Remarks</label>
							<div ng-if="cdlcApproved == 'N'" class="col-sm-4">
								<textarea class="form-control" />
							</div>
							<div ng-if="cdlcApproved == 'Y'" class="col-sm-4 control-value"></div>
						</div>
						<div ng-if="cdlcApproved == 'Y'" class="form-group">
							<label class="col-sm-2 control-label">Collection Date</label>
							<div class="col-sm-4 control-value"></div>
							<label class="col-sm-2 control-label">Acknowledged</label>
							<div class="col-sm-4 control-value"></div>
						</div>
						<br>
						<legend>Recommendation Details</legend>
						<div class="form-group">
							<label class="col-sm-2 control-label">Recommended By</label>
							<div ng-if="cdlcApproved == 'N'" class="col-sm-4">
								<input class="form-control" ng-model="pmtRecommendedBy" placeholder="Name or NRIC No."
									uib-typeahead="customer as customer.name for customer in customers | filter:$viewValue | limitTo:10">
							</div>
							<div ng-if="cdlcApproved == 'Y'" class="col-sm-4 control-value">S8154741A: CPT JACKSON LOW TAN KENG</div>
							<label class="col-sm-2 control-label">Recommended On</label>
							<div ng-if="cdlcApproved == 'N'" class="col-sm-4">
								<input datebox class="form-control" value="13-Aug-2016" />
							</div>
							<div ng-if="cdlcApproved == 'Y'" class="col-sm-4 control-value">13-Aug-2016</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label">Unit</label>
							<div ng-if="cdlcApproved == 'N'" class="col-sm-4">
								<input type="text" class="form-control" value="TPT HUB EAST" />
							</div>
							<div ng-if="cdlcApproved == 'Y'" class="col-sm-4 control-value">TPT HUB EAST</div>
							<label class="col-sm-2 control-label">Appointment</label>
							<div ng-if="cdlcApproved == 'N'" class="col-sm-4">
								<input type="text" class="form-control" value="HUB S1" />
							</div>
							<div ng-if="cdlcApproved == 'Y'" class="col-sm-4 control-value">HUB S1</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label">Contact No.</label>
							<div ng-if="cdlcApproved == 'N'" class="col-sm-4">
								<input type="text" class="form-control" value="97812626" />
							</div>
							<div ng-if="cdlcApproved == 'Y'" class="col-sm-4 control-value">97812626</div>
						</div>
						<br>
						<legend>Processing Details</legend>
						<div class="form-group">
							<label class="col-sm-2 control-label">Processed By</label>
							<div ng-if="cdlcApproved == 'N'" class="col-sm-4">
								<input class="form-control" ng-model="pmtProcessedBy" placeholder="Name or NRIC No."
									uib-typeahead="customer as customer.name for customer in customers | filter:$viewValue | limitTo:10">
							</div>
							<div ng-if="cdlcApproved == 'Y'" class="col-sm-4 control-value">S7944124C: CHUA SEE MEI</div>
							<label class="col-sm-2 control-label">Processed On</label>
							<div ng-if="cdlcApproved == 'N'" class="col-sm-4">
								<input datebox class="form-control" value="15-Aug-2016" />
							</div>
							<div ng-if="cdlcApproved == 'Y'" class="col-sm-4 control-value">15-Aug-2016</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label">Mileage Checked</label>
							<div ng-if="cdlcApproved == 'N'" class="col-sm-4">
								<select class="form-control">
									<option></option>
									<option selected="true">Yes</option>
									<option>No</option>
								</select>
							</div>
							<div ng-if="cdlcApproved == 'Y'" class="col-sm-4 control-value">yes</div>
							<label class="col-sm-2 control-label">TP Screened</label>
							<div ng-if="cdlcApproved == 'N'" class="col-sm-4">
								<select class="form-control">
									<option></option>
									<option selected="true">Yes</option>
									<option>No</option>
								</select>
							</div>
							<div ng-if="cdlcApproved == 'Y'" class="col-sm-4 control-value">Yes</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label">Classes Eligible</label>
							<div ng-if="cdlcApproved == 'N'" class="col-sm-4">
								<select class="form-control">
									<option></option>
									<option selected="true">Yes</option>
									<option>No</option>
								</select>
							</div>
							<div ng-if="cdlcApproved == 'Y'" class="col-sm-4 control-value">Yes</div>
						</div>
					</fieldset>
					<br>
				</form>
			</div>
			<div class="tab-pane fade" id="profile">
				<form class="form-horizontal">
					<fieldset>
						<legend>Transport Operator</legend>
						<div class="form-group">
							<label class="col-sm-2 control-label">E-HR Hub</label>
							<div class="col-sm-4 control-value">HUB EAST</div>
							<label class="col-sm-2 control-label">Ops Tag Unit</label>
							<div class="col-sm-4 control-value">1 CSH</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label">E-HR Node</label>
							<div class="col-sm-4 control-value">BEDOK NODE</div>
							<label class="col-sm-2 control-label">Ops Tag Sub-Unit</label>
							<div class="col-sm-4 control-value">ALPHA</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label">Node</label>
							<div class="col-sm-4 control-value">BEDOK NODE</div>
							<label class="col-sm-2 control-label">Platoon</label>
							<div class="col-sm-4 control-value">4</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label">Attachment Node</label>
							<div class="col-sm-4 control-value">-</div>
							<label class="col-sm-2 control-label">Section</label>
							<div class="col-sm-4 control-value">4</div>
						</div>
					</fieldset>
					<br>
					<fieldset>
						<legend>Military</legend>
						<div class="form-group">
							<label class="col-sm-2 control-label">Appointment</label>
							<div class="col-sm-4 control-value">DVR</div>
							<label class="col-sm-2 control-label">Date of Appointment</label>
							<div class="col-sm-4 control-value">01-Jan-2016</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label">Vocation</label>
							<div class="col-sm-4 control-value">DVR</div>
							<label class="col-sm-2 control-label">Date of Vocation</label>
							<div class="col-sm-4 control-value">01-Jan-2016</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label">Type of Service</label>
							<div class="col-sm-4 control-value">P2</div>
							<label class="col-sm-2 control-label">Date of Rank</label>
							<div class="col-sm-4 control-value">01-Apr-2015</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label">Unit</label>
							<div class="col-sm-4 control-value">TPT EAST</div>
							<label class="col-sm-2 control-label">Date to Unit</label>
							<div class="col-sm-4 control-value">01-Jan-2016</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label">Unit Service Type</label>
							<div class="col-sm-4 control-value">ARMY</div>
							<label class="col-sm-2 control-label">Date of Enlistment</label>
							<div class="col-sm-4 control-value">01-Jan-2014</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label">Security CAT</label>
							<div class="col-sm-4 control-value">CAT 2A</div>
							<label class="col-sm-2 control-label">ORD</label>
							<div class="col-sm-4 control-value">23-Aug-2016</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label">PES Grading</label>
							<div class="col-sm-4 control-value">B</div>
						</div>
					</fieldset>
					<br>
					<fieldset>
						<legend>Personal</legend>
						<div class="form-group">
							<label class="col-sm-2 control-label">Citizenship</label>
							<div class="col-sm-4 control-value">SC by Birth</div>
							<label class="col-sm-2 control-label">Email</label>
							<div class="col-sm-4 control-value">rizan@hotmail.com</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label">Place of Birth</label>
							<div class="col-sm-4 control-value">Singapore</div>
							<label class="col-sm-2 control-label">Hand Phone</label>
							<div class="col-sm-4 control-value">+65 9769 9179</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label">Date of Birth</label>
							<div class="col-sm-4 control-value">05 Feb 1994</div>
							<label class="col-sm-2 control-label">Home Phone</label>
							<div class="col-sm-4 control-value">+65 6875 1424</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label">Race</label>
							<div class="col-sm-4 control-value">Malay</div>
							<label class="col-sm-2 control-label">Office Phone</label>
							<div class="col-sm-4 control-value">+65 6123 4455</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label">Religion</label>
							<div class="col-sm-4 control-value">Islam</div>
							<label class="col-sm-2 control-label">Address</label>
							<div class="col-sm-4 control-value">Blk 113 Pasir Ris St. 11 #04-675 Singapore 510113</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label">Marital Status</label>
							<div class="col-sm-4 control-value">Single</div>
							<label class="col-sm-2 control-label">Alt. Address</label>
							<div class="col-sm-4 control-value">-</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label">Highest Education</label>
							<div class="col-sm-4 control-value">GCE 4 'N' LVL PASSES</div>
							<label class="col-sm-2 control-label">Overseas Address</label>
							<div class="col-sm-4 control-value">-</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label">Next of Kin (NOK)</label>
							<div class="col-sm-4 control-value">MUHAMMAD ISMAIL BIN ALI</div>
							<label class="col-sm-2 control-label">NOK Contact No.</label>
							<div class="col-sm-4 control-value">+65 9842 4545</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label">NOK Relationship</label>
							<div class="col-sm-4 control-value">Father</div>
						</div>
					</fieldset>
					<br>
				</form>
			</div>
			<div class="tab-pane fade" id="mileage">
				<form class="form-horizontal">
					<fieldset>
						<legend>Mileage Breakdown</legend>
						<div class="panel panel-default">
							<div class="panel-body">
								<div class="form-group">
									<label class="col-sm-1 control-label">By</label>
									<div class="col-sm-5">
										<div class="radio radio-inline">
											<label> <input type="radio" checked="true" name="breakdownBy" id="breakdownBy1" ng-click="breakDownBy='V'">Vehicle Type
											</label>
										</div>
										<div class="radio radio-inline">
											<label> <input type="radio" name="breakdownBy" id="breakdownBy2" ng-click="breakDownBy='L'">Vehicle Licence Class
											</label>
										</div>
										<div class="radio radio-inline">
											<label> <input type="radio" name="breakdownBy" id="breakdownBy3" ng-click="breakDownBy='T'">Trip
											</label>
										</div>
									</div>
									<label class="col-sm-2 control-label">Date Range</label>
									<div class="col-sm-4">
										<div class='input-group valueColumn date'>
											<input daterangebox value="" class="form-control" /> <label class="input-group-addon"> <span class="glyphicon glyphicon-calendar"></span>
											</label>
										</div>
									</div>
								</div>
								<a href="" ng-show="breakDownBy=='T'" ng-click="taskSearch.isCollapsed = !taskSearch.isCollapsed" class="pull-right">Advanced Search...</a>
								<div ng-show="breakDownBy=='T'" class="form-group" style="padding-right: 0px" uib-collapse="taskSearch.isCollapsed">
									<hr>
									<div class="form-group">
										<label class="col-sm-2 control-label">Task ID</label>
										<div class="col-sm-4">
											<input type="text" class="form-control" />
										</div>
									</div>
									<div class="form-group">
										<label class="col-sm-2 control-label">Vehicle Type</label>
										<div class="col-sm-4">
											<select class="form-control">
												<option></option>
												<option ng-repeat="vehicleType in vehicleTypes" value="{{vehicleType.id}}">{{vehicleType.name}}</option>
											</select>
										</div>
										<label class="col-sm-2 control-label">Vehicle Licence Class</label>
										<div class="col-sm-3">
											<select class="form-control">
												<option></option>
												<option ng-repeat="vehClass in vehClasses" value="{{vehClass.id}}">{{vehClass.name}}</option>
											</select>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div>
							<div ng-if="breakDownBy=='V'" class="col-xs-12">
								<table class="table table-striped table-bordered table-responsive table-condensed small">
									<tr>
										<th width="25%">Vehicle Type</th>
										<th width="25%">Date Last Driven</th>
										<th width="25%">Speeding Count</th>
										<th width="25%">Mileage</th>
									</tr>
									<tr ng-repeat="mileageByV in mileageByVs">
										<td>{{mileageByV.vehicleType}}</td>
										<td>{{mileageByV.dateLastDriven}}</td>
										<td>{{mileageByV.speedingCount}}</td>
										<td>{{mileageByV.mileage}}</td>
									</tr>
									<tr>
										<td colspan="3" style="text-align: right"><strong>TOTAL: </strong></td>
										<td><strong>7323.0</strong></td>
									</tr>
								</table>
							</div>
						</div>
						<div>
							<div ng-if="breakDownBy=='L'" class="col-xs-12">
								<table class="table table-striped table-bordered table-responsive table-condensed small">
									<tr>
										<th width="25%">Vehicle Licence Class</th>
										<th width="25%">Date Last Driven</th>
										<th width="25%">Speeding Count</th>
										<th width="25%">Mileage</th>
									</tr>
									<tr ng-repeat="mileageByL in mileageByLs">
										<td>{{mileageByL.vehicleClass}}</td>
										<td>{{mileageByL.dateLastDriven}}</td>
										<td>{{mileageByL.speedingCount}}</td>
										<td>{{mileageByL.mileage}}</td>
									</tr>
									<tr>
										<td colspan="3" style="text-align: right"><strong>TOTAL: </strong></td>
										<td><strong>7323.0</strong></td>
									</tr>
								</table>
							</div>
						</div>
						<div>
							<div ng-if="breakDownBy=='T'" class="col-xs-12">
								<uib-pagination total-items="bigTotalItems" ng-model="bigCurrentPage" max-size="maxSize" class="pagination-sm" boundary-links="true" boundary-link-numbers="true"
									rotate="false"></uib-pagination>
								<table class="table table-striped table-bordered table-responsive table-condensed small">
									<tr>
										<th>Trip ID</th>
										<th>Task ID</th>
										<th>Date Time Start</th>
										<th>Date Time End</th>
										<th>Vehicle Type</th>
										<th>Vehicle Licence Class</th>
										<th>Speeding Count</th>
										<th>Mileage</th>
									</tr>
									<tr ng-repeat="mileageByT in mileageByTs">
										<td>{{mileageByT.tripId}}</td>
										<td>{{mileageByT.taskId}}</td>
										<td>{{mileageByT.dateTimeStart}}</td>
										<td>{{mileageByT.dateTimeEnd}}</td>
										<td>{{mileageByT.vehicleType}}</td>
										<td>{{mileageByT.licenceClass}}</td>
										<td>{{mileageByT.speedingCount}}</td>
										<td>{{mileageByT.mileage}}</td>
									</tr>
									<tr>
										<td colspan="7" style="text-align: right"><strong>TOTAL: </strong></td>
										<td><strong>7323.0</strong></td>
									</tr>
								</table>
								<uib-pagination total-items="bigTotalItems" ng-model="bigCurrentPage" max-size="maxSize" class="pagination-sm" boundary-links="true" boundary-link-numbers="true"
									rotate="false"></uib-pagination>
							</div>
						</div>
					</fieldset>
					<br>
				</form>
			</div>
			<div class="tab-pane fade" id="skills">
				<form class="form-horizontal">
					<fieldset>
						<legend>SAF Driving Permit</legend>
						<div>
							<div class="col-xs-12">
								<table class="table table-striped table-bordered table-responsive table-condensed small">
									<tr>
										<th>Permit No.</th>
										<th width="90px">Issue On</th>
										<th>Permit Type</th>
										<th>Permit Status</th>
										<th width="90px">Status From</th>
										<th width="90px">Status To</th>
										<th>Permit Class</th>
										<th width="90px">Obtained On</th>
										<th>Pending Retest</th>
									</tr>
									<tbody ng-repeat="drivingPermit in drivingPermits">
										<tr>
											<td rowspan="6">{{drivingPermit.permitNo}}</td>
											<td rowspan="6">{{drivingPermit.issuedOn}}</td>
											<td rowspan="6">{{drivingPermit.permitType}}</td>
											<td rowspan="6">{{drivingPermit.permitStatus}}</td>
											<td rowspan="6">{{drivingPermit.statusFrom}}</td>
											<td rowspan="6">{{drivingPermit.statusTo}}</td>
										</tr>
										<tr ng-repeat="permitClass in drivingPermit.permitClasses">
											<td>{{permitClass.label}}</td>
											<td>{{permitClass.obtainedOn}}</td>
											<td>{{permitClass.status}}</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</fieldset>
					<br>
					<fieldset>
						<legend>Civilian Driving Licence</legend>
						<div>
							<div class="col-xs-12">
								<table class="table table-striped table-bordered table-responsive table-condensed small">
									<tr>
										<th>Licence No.</th>
										<th>Barcode No.</th>
										<th>Issue Date</th>
										<th>Type of Classes</th>
										<th>Status</th>
										<th>Demerit Points</th>
									</tr>
									<tr>
										<td>S8477006Z</td>
										<td>005555557J</td>
										<td>07-Apr-2008</td>
										<td>CL3</td>
										<td>Valid</td>
										<td>0</td>
									</tr>
								</table>
							</div>
						</div>
					</fieldset>
					<br>
				</form>
			</div>
			<div class="tab-pane fade" id="demerit">
				<form class="form-horizontal">
					<fieldset>
						<div>
							<table class="table table-striped table-bordered table-responsive table-condensed small">
								<tr>
									<th>ID</th>
									<th>Type</th>
									<th>Offence Committed / Reduction Remarks</th>
									<th width="90px">Issued<br>On
									</th>
									<th width="90px">Issued<br>By
									</th>
									<th width="90px">Submitted<br>On
									</th>
									<th width="90px">Submitted<br>By
									</th>
									<th width="90px">Demerit<br>Points
									</th>
								</tr>
								<tr>
									<td><a href="" ng-click="openDemeritPointsRecord()">1</a></td>
									<td>EXT / TRG ACCIDENT (LOCAL)</td>
									<td>Tailgating resulting in accident</td>
									<td>10-Jan-2015</td>
									<td>TP</td>
									<td>11-Jan-2015</td>
									<td><a uib-tooltip="SSG JOHN KONG LUM KEE" tooltip-placement="left">S8477006Z</a></td>
									<td>9</td>
								</tr>
								<tr>
									<td><a href="" ng-click="openDemeritPointsRecord()">2</a></td>
									<td>INT / TRG ACCIDENT (LOCAL)</td>
									<td>Driver failure to wear seat belt</td>
									<td>10-Feb-2015</td>
									<td>MP</td>
									<td>11-Feb-2015</td>
									<td><a uib-tooltip="SSG JOHN KONG LUM KEE" tooltip-placement="left">S8477006Z</a></td>
									<td>3</td>
								</tr>
								<tr>
									<td><a href="" ng-click="openDemeritPointsRecord()">3</a></td>
									<td>REDUCTION</td>
									<td>TO has taken and passed re-test on 10-Aug-2015.</td>
									<td>10-Aug-2015</td>
									<td>OTHERS</td>
									<td>10-Aug-2015</td>
									<td><a uib-tooltip="SSG JOHN KONG LUM KEE" tooltip-placement="left">S8477006Z</a></td>
									<td>-3</td>
								</tr>
								<tr>
									<td><a href="" ng-click="openDemeritPointsRecord()">4</a></td>
									<td>RESET</td>
									<td>TO has not had any offences for the past 1 year.</td>
									<td>10-Jan-2016</td>
									<td>SYSTEM</td>
									<td>10-Jan-2016</td>
									<td>SYSTEM</td>
									<td>-9</td>
								</tr>
								<tr>
									<td colspan="7" style="text-align: right"><strong>TOTAL: </strong></td>
									<td>0</td>
								</tr>
							</table>
						</div>
					</fieldset>
					<br>
				</form>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="demeritPtsRecModal" tabindex="-1">
	<div class="modal-dialog" style="width: 600px">
		<div class="modal-content">
			<div class="modal-header">
				<button class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title">Offence Demerit Points</h4>
			</div>
			<div class="modal-body">
				<div class="container-fluid">
					<form class="form-horizontal">
						<div class="form-group">
							<label class="col-sm-4 control-label">ID</label>
							<div class="col-sm-8 control-value">1</div>
						</div>
						<div class="form-group">
							<label class="col-sm-4 control-label required">Offence Type <span class="glyphicon glyphicon-info-sign"
								uib-tooltip="Offences involving a Traffic Accident will reset all Incentive claimable mileage accumulated before the offence's Issue Date." /></label>
							<div class="col-sm-8 control-value">EXT / TRG ACCIDENT (LOCAL)</div>
						</div>
						<div class="form-group">
							<label class="col-sm-4 control-label">Offence Committed</label>
							<div class="col-sm-8 control-value">Tailgating resulting in accident</div>
						</div>
						<div class="form-group">
							<label class="col-sm-4 control-label">Demerit Points</label>
							<div class="col-sm-8 control-value">9</div>
						</div>
						<div class="form-group">
							<label class="col-sm-4 control-label">Fine ($)</label>
							<div class="col-sm-8 control-value">100</div>
						</div>
						<div class="form-group">
							<label class="col-sm-4 control-label required">Vehicle Type</label>
							<div class="col-sm-8 control-value">5 TON GS (AUTO)</div>
						</div>
						<div class="form-group">
							<label class="col-sm-4 control-label">Vehicle No.</label>
							<div class="col-sm-8 control-value">MID21344</div>
						</div>
						<div class="form-group">
							<label class="col-sm-4 control-label">Location</label>
							<div class="col-sm-8 control-value">Bukit Batok Ave 2</div>
						</div>
						<div class="form-group">
							<label class="col-sm-4 control-label">Offence Date</label>
							<div class="col-sm-8 control-value">10-Jan-2015</div>
						</div>
						<div class="form-group">
							<label class="col-sm-4 control-label required">Offence Issuer</label>
							<div class="col-sm-8 control-value">TP</div>
						</div>
						<div class="form-group">
							<label class="col-sm-4 control-label">Submitted On</label>
							<div class="col-sm-8 control-value">10-Jan-2015</div>
						</div>
						<div class="form-group">
							<label class="col-sm-4 control-label required">Submitted By</label>
							<div class="col-sm-8 control-value">SSG JOHN KONG LUM KEE (S8477006Z)</div>
						</div>
					</form>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="submitCdlc" tabindex="-1">
	<div class="modal-dialog" style="width: 400px">
		<div class="modal-content">
			<div class="modal-header">
				<button class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title">Confirm?</h4>
			</div>
			<div class="modal-body">
				<div class="container-fluid">
					<form class="form-horizontal">
						<p>Are you sure you want to submit this application for approval?</p>
					</form>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
				<button ng-click="cdlcApproved = 'Y'" class="btn btn-primary" data-dismiss="modal">OK</button>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="holdCdlc" tabindex="-1">
	<div class="modal-dialog" style="width: 600px">
		<div class="modal-content">
			<div class="modal-header">
				<button class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title">Hold Application</h4>
			</div>
			<div class="modal-body">
				<div class="container-fluid">
					<form class="form-horizontal">
						<div class="form-group">
							<label class="col-sm-2 control-label required">Reasons</label>
							<div class="col-sm-10">
								<textarea class="form-control"></textarea>
							</div>
						</div>
					</form>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
				<button ng-click="cdlcHold = 'Y'; cdlcApproved = 'Y'" class="btn btn-primary" data-dismiss="modal">OK</button>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="rejectCdlc" tabindex="-1">
	<div class="modal-dialog" style="width: 600px">
		<div class="modal-content">
			<div class="modal-header">
				<button class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title">Reject Application</h4>
			</div>
			<div class="modal-body">
				<div class="container-fluid">
					<form class="form-horizontal">
						<div class="form-group">
							<label class="col-sm-2 control-label required">Reasons</label>
							<div class="col-sm-10">
								<textarea class="form-control"></textarea>
							</div>
						</div>
					</form>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
				<button type="button" class="btn btn-primary" data-dismiss="modal">OK</button>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="deleteCdlc" tabindex="-1">
	<div class="modal-dialog" style="width: 400px">
		<div class="modal-content">
			<div class="modal-header">
				<button class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title">Confirm?</h4>
			</div>
			<div class="modal-body">
				<div class="container-fluid">
					<form class="form-horizontal">
						<p>Are you sure you want to delete this application?</p>
					</form>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
				<button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="go('/cdlcs')">OK</button>
			</div>
		</div>
	</div>
</div>