<div class="row page-header">
	<h3>
		<span class="glyphicon glyphicon-chevron-left clickable" ng-click="back()" /> Return Penalty Credits
	</h3>
</div>
<div class="row page-body">
	<div class="panel-action">
		<div class="panel panel-default">
			<div class="panel-body">
				<button type="button" ng-if="penaltyCredits" class="btn btn-primary btn-block" ng-click="returnCredits()">Return Credits</button>
				<button type="button" class="btn btn-default btn-block" ng-click="reset()">Clear</button>
			</div>
		</div>
	</div>
	<div class="panel-main">
		<br>
		<form class="form-horizontal">
			<div class="form-group">
				<label class="col-sm-3 control-label">Work Year</label>
				<div class="col-sm-4">
					<select class="form-control" ng-model="returnDTO.workYear" ng-change="getUnitPenaltyCredits(returnDTO.unitCode)">
						<option value="{{currentYear - 1}}" >{{currentYear - 1}} (1 Apr {{currentYear - 1}} - 31 Mar {{currentYear}})</option>
						<option value="{{currentYear}}" >{{currentYear}} (1 Apr {{currentYear}} - 31 Mar {{currentYear + 1}})</option>
						<option value="{{currentYear + 1}}">{{currentYear + 1}} (1 Apr {{currentYear + 1}} - 31 Mar {{currentYear + 2}})</option> 
					</select>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label required">Customer Unit</label>
				<div class="col-sm-4">
					<typeahead placeholder="Unit Code or Name" uib-typeahead="unit.name + ' (' + unit.code + ')' for unit in searchUnits($viewValue)"
						typeahead-on-select="getUnitPenaltyCredits($item.code)" ng-blur="returnDTO.unitCode = unit ? returnDTO.unitCode : undefined" ng-model="unit" />
				</div>
			</div>
			<div class="form-group">
				<label  class="col-sm-3 control-label">Total Penalty Credits</label>
				<div class="col-sm-9 control-value" ng-if="penaltyCredits">{{penaltyCredits | number: 2}}</div>
				<div class="col-sm-9 control-value" ng-if="!penaltyCredits">No penalty credits found.</div>
			</div>
			<div class="form-group" ng-if="penaltyCredits">
				<label class="col-sm-3 control-label">Credits to Return</label>
				<div class="col-sm-3">
					<input decimalbox min="0" class="form-control" ng-model="returnDTO.credits" />
				</div>
			</div>
			<div class="form-group" ng-if="penaltyCredits">
				<label class="col-sm-3 control-label">Remarks</label>
				<div class="col-sm-9">
					<textarea class="form-control" rows="2" ng-model="{{returnDTO.reasons}}"></textarea>
				</div>
			</div>
		</form>
	</div>
</div>
